body {
  text-align:center;
  font-family:'Comfortaa', cursive;
  color:white;
  background: url("https://upload.wikimedia.org/wikipedia/commons/a/a2/Clouds_above_London.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

}

button {
  border: none;
  border-radius:2px;
  font-size: 1em;
}

button:hover{
  background-color:#002868;
  color: white;
}

footer {
  font-style:italic;
  font-size:0.8em;
  position: absolute;
  bottom: 0;
  margin-bottom: 20px;
  color:white;
  background-color:rgba(170, 170, 170, 0.3)
}

#convert {
  display: none;
  margin: 10px;
  /*display: inline;*/
}

#location {
  font-size: 2em;
  font-weight: bolder;
}

#wxdesc {
  font-style:italic;
  font-size:1.25em;
}

img {
  height: 100px;
  width: auto;
}

#tempbox{
  display:inline;
}

#temp{
  display:inline;
  font-size:1.25em;
}

#hilo{
  font-size:1em;
}
